name: Build Docker Image

on:
  pull_request_target:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      
      - name: Set up QEMU (for multi-arch support)
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx (build multi-arch images)
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image (x86 & ARM)
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: false
          tags: ghcr.io/timlisemer/vps-to-pi-ssh-tunnel:latest